@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    /* alterando comportamento padrão do navegador */
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: black;
}

/* Logo */

.img-logo {
    margin: 100px auto 30px;
    display: block;
    position: relative;
}

/* Carro */

.car {
    position: relative;
    text-align: center;
    padding-top: 5px;
    width: 810px;
}

/* Mudança de cor */

.box-change {
    margin-top: 100px;
    text-align: center;
    position: relative;
    width: 100%;
}

.box-change p {
    position: relative;

    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

.box-button , .box-texture {
    position: absolute;
    width: 100%;
    height: 65px;
    background: #7B7B7B;
}

.buttons {
    margin-top: 12.5px;
    position: relative;
    text-align: center;
    height: 40px;
}

.tex {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.red {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: #FF0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: #0500FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.yellow {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: #DBFF00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pink {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: #FA00FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.black {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.silver {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: silver;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white {
    position: relative;
    margin-right: 17px;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}